// Mixins Here

@phone: ~'( max-width: 500px )';

.button(@font, @bgcolor, @padding) {
    background-color: @bgcolor;
    border-radius: 5px;
    color: @font;
    font-size: 2em;
    padding: @padding;
}
  
.center() {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  
  .fonts(@fam, @size){
    font-family:@fam;
    font-size:@size;
  }

    @media @phone {
        display: flex;
    }