@media ( max-width: 500px ) {
  nav {
    display: flex;
    margin-left: 0;
    width: 100%;
    font-size: 0.8em;
  }
  nav h2 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media ( max-width: 500px ) and ( max-width: 500px ) {
  nav ul {
    min-width: 500px;
    font-size: 0.8em;
  }
}
